body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  height: 100vh;
 
}

.comments-section {
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.comment-table {
  
  table-layout: fixed;


  width: 80%;
  border-collapse: collapse; 
  background: transparent; 
  flex: 1;                  
  border-spacing: 0;
  overflow-y: auto;
}

.comment-table th,
.comment-table td {
  padding: 4px 8px;     
  text-align: left;
  font-size: 14px;
  line-height:50px;      
  vertical-align: middle;
}

.comment-table thead {
  font-weight: bold;
  text-decoration: underline;
  display: table-header-group;
}

.comment-table thead th {
  /* padding-top: 80px; */
  padding-bottom: 4px;
  font-weight: bold;
  text-decoration: underline;
}

.comments-inputs {
  width:80%;
  display: flex;
  
  flex-direction : row;
  gap: 8px;
  margin-bottom: 280px;
  align-items:flex-start;
  
  
 

}

.comments-inputs input[type="text"] {
  padding: 5px;
  border: 1.5px solid black;
  font-size: 14px;

 
 
}

#name {
  flex-grow: 1; 
  
}
#comment {
    flex-grow:1;
}


.comments-inputs button {
  padding: 6px 12px;
  background-color: #0a3663ea;
  color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.856) ;
  cursor: pointer;
  font-size: 14px;
 
  
}





.reply-link {
    color: #007BFF;         
  text-decoration:underline ;
  margin: 0;
  cursor: pointer;          
  margin-top: 5px;          
  display: inline-block;
  font-size: 0.9em;
}